@import "~bulma/bulma.sass";
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=PT+Serif&family=Reenie+Beanie&display=swap');

html {
  background-color: black !important;
  min-height: 100%;
}

body {
  background-color: black;
  min-height: 200vh;
  font-family: 'Cinzel Decorative', cursive;
}

form {
  width: 500px;
}
