$brand-color: #33A58B;

@import "~bulma/bulma.sass";
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Reenie+Beanie&display=swap');

.container {
  width: 100%;
  height: 85px;
}

.navbar {
  background-color: black !important;
  // border-bottom: 1px solid #000;
  box-shadow: 0px 0px 20px #1A4289;
}

.navbar-item { 
  font-size: 35px;
  color: white !important;
  font-family: 'Reenie Beanie', cursive;
  letter-spacing: 2px;
  transition: all 0.2s;
  cursor: pointer;
  margin: 0 5px;
}

.navbar-item:focus { 
  text-decoration: underline;
  cursor: pointer;
  background-color: transparent !important;
}

.navbar-item:hover { 
  color: $brand-color !important;
  background-color: transparent !important;

}

img.logo-image{
    width: 46px;
    height: 46px !important;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 10px;

}

h4.logout {
  font-size: 35px;
  color: white !important;
  font-family: 'Reenie Beanie', cursive;
  letter-spacing: 2px;
  word-spacing: -10px;
  transition: all 0.2s;
  cursor: pointer;
  margin: 5px 20px;
}

// nav {
//   position: fixed !important;
//   width: 100vw;
// }
