@import "~bulma/bulma.sass";
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=PT+Serif&family=Reenie+Beanie&display=swap');
$brand-color: #33A58B;


button.button.submit {
  font-family: 'Cinzel Decorative', cursive !important;

}

input.input {
  font-family: 'Cinzel Decorative', cursive !important;

}